html body {
  font-family: "Inter", sans-serif;
}
.login-wrapper{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
.login-box{
    text-align: center;
}

.login-title{

}

.login-btn{
    padding: 24px 100px;
    background: #cccc;
    border-radius: 12px;
    margin-top: 10px;
    border: none;
    font-size: 28px;
    font-weight: 750;
    cursor: pointer;
}
.login-btn:hover{
    background-color: rgba(128,128,128);
}
.login-hint{
    padding-top: 10px;
    color: rgba(105,105,105);
    font-size: 20px
}